/* DOCUMENTO DE ESTILOS */

html {
    background-color: #222222;
    color: #FFFFFF;
}

body {
    background-color: #222222;
    color: #FFFFFF;
}

:root {
    background-color: #222222;
}

* {
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

header {
    text-align: center;
    align-content: center;
    background-color: #222222;
    color: #FFFFFF;
    padding-bottom: 30px;
    margin-bottom: 0;
}

section {
    text-align: center;
    align-content: center;
    background-color: #222222;
    color: #FFFFFF;
    width: auto;
    padding: 5px;
}

.div2 {
    border-radius: 5px;
    background-color: #333333;
    margin-left: 10px;
    margin-right: 10px;
    color: #FFFFFF;
    box-shadow: 1px 1px 1px #000000;
    width: auto;
    padding: 25px;
    font-size: 1.5em;
}
