*{
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
}

main{
    padding-left: 10%;
    padding-right: 10%;
}

header{
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
section{
    padding-left: 10%;
    padding-right: 10%;
}
*/