/* 
#######
IMAGENS
#######
*/

img.menu_hamburguer {
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

img.logo_rjgs{
    width: 200px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
}